@use '../abstracts/' as *;

.utility{
  position: absolute;
  inset: 0 0 auto;
  background-color: #000;
  padding-block: 2rem;
  > div{
    width: $websize;
    margin-inline: auto;
    display: flex;
    justify-content: end;
    gap: 2.4rem;
  }
}